.App {
    max-width: 850px;
    margin: 0 auto;
}

.container {
    min-height: 50vh;
    display: flex;
    align-items: flex-end;
    width: 100%;
}

.menu {
    width: 100%;
}

.small {
    font-size: 16px;
}

.btn {
    width: 48%;
    margin: 0 1%;
    padding: 10px 0;
}

.btn-block {
    margin: auto;
    width: 98%;
}

li {
    list-style: none;
}

textarea {
    font-size: 18px;
    width: 94%;
    margin: auto;
}